body{
    font-family: 'Courier New', Courier, monospace;
    width:80%;
    margin:0px auto;
}
table{
    padding: 10px;
    text-align: center;
    border-spacing: 5px;
}
th {
    background-color: black;color: white;
    font-size: 1.3em; 
    padding: 5px;
}
th, td {
    border-bottom: 1px solid;
    border-right: 1px solid ;
}
th {
    width: 25%;
}
form{
    margin-top: 1.5em;
}
input:hover{
    border: 2px black solid;
}
a{
    text-decoration: none;
    color: black;
}
.rojo{
    color: red;
}
.container{
    max-width: 800px;
    padding: 20px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.botonAceptar{
    font-size: 1rem;
    font-weight: 600;
    border-radius: 40px;
    margin-top: 10px;
    padding: 5px;
}
.botonAceptar:hover{
    background-color: black;
    color: wheat;
}